@import '../common/var.less';
@import '../common/mixin.less';

.nomargin .weui-cells {
  margin-top: 0;
}

.tbt-pannel {
  background-color: #fff;
  overflow: hidden;
  padding: 15px 0;
  &+.tbt-pannel {
    margin-top: 10px;
  }
}

.tbt-cell {
  font: 12px PingFangSC-Regular,sans-serif;
  color: #C1C1C1;
  padding: 10px 15px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tbt-cell_hd {
  font: 12px PingFangSC-Regular,sans-serif;
  color: #C1C1C1;
}

.tbt-cell_bd {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font: 12px PingFangSC-Regular,sans-serif;
  color: #C1C1C1;
}

.tbt-pannel_title {
  padding: 0px 15px;
}

.tbt-pannel_tittle-inner {
  height: 25px;
  line-height: 25px;
  padding-left: 8px;
  position: relative;
  font: bold 18px/25px PingFangSC-Medium,sans-serif;
  color: #333;
  &:before {
    position: absolute;
    left: 0;
    top: 6px;
    content: '';
    display: inline-block;
    border-left: 3px solid @color-primary;
    height: 16px;
    width: 0;
  }
}

.tbt-pannel_title-append {
  display: inline-block;
  margin-left: 10px;
  color: #666;
  font-weight: normal;
  font-size: 13px;
}

.tbt-pannel_title-rt {
  position: absolute;
  right: 0;
  top: 0;
}

.tbt-trend-title {
  height: 21px;
  //background: #ececec;
  font: bold 15px/21px PingFangSC-Medium,sans-serif;
  padding: 15px 0 10px 18px;
}

.tbt-funnel-table {
  width: 100%;
  border-collapse: collapse;
  th {
    font-family: PingFangSC-Regular,sans-serif;
    font-size: 12px;
    color: rgba(0,0,0,0.30);
  }
  td {
    font-family: PingFangSC-Regular,sans-serif;
    font-size: 12px;
    color: #666666;
  }
  th,td {
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    .tbt-icon {
      display: none;
    }
    &.increase .tbt-icon-in {
      display: inline-block;
    }
    &.decrease .tbt-icon-de {
      display: inline-block;
    }
    &:first-child {
      text-align: left;
      padding-left: 20px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      //border-bottom: 1px solid #e0e0e0;
    }
  }
}

.increase {
  color: @color-in !important;
}

.decrease {
  color: @color-de !important;
}

.flex-box {
  display: flex;
}

.flex-item {
  flex: 1;
}

.dp-header .dp-item.dp-right {
  color: @color-primary !important;
}

.vux-popup-header-right {
  color: @color-primary !important;
}

.tbt-tooltip-wrapper {
  position: relative;
  top: -3px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  //background-color: #e0e0e0;
  a.tbt-icon-info {
    height: 100%;
    width: 100%;
    .setTapColor();
    &:active {
        background-color: #ECECEC;
    }
  }
}

.tbt-tooltip-content {
  transform: translateY(100%);
  position: absolute;
  bottom: -16px;
  right: 0px;
  color: #fff;
  border-radius: 2px;
  padding: 22px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.8);
  z-index: 1000;
  text-align: left;
  p {
    font: 13px/18px PingFangSC-Regular,sans-serif;
  }
}

.tbt-tooltip-arrow-up {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid rgba(0,0,0,.8);
  position: absolute;
  top: -9px;
  right: 11px;
}

.tbt-tooltip-table {
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
  font: 13px/18px PingFangSC-Regular,sans-serif;
  tr+tr td {
   padding-top: 10px;
  }
  td:first-child {
    width: 40px;
    font-family: PingFangSC-Semibold;
  }
}

.tbt-trend-item + .tbt-trend-item {
  margin-top: 30px;
}
