@import '../common/var.less';

.nomargin .weui-cells {
  margin-top: 0;
}

.tbt-pannel {
  background-color: #fff;
  overflow: hidden;
  padding: 15px 0;
  &+.tbt-pannel {
    margin-top: 10px;
  }
}

.tbt-cell {
  font-size: @font-size-main;
  padding: 10px 15px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tbt-cell_hd {
  color: @color-text-secondary;
  font-size: @font-size-main;
}

.tbt-cell_bd {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: @font-size-main;
}

.tbt-pannel_title {
  padding: 10px 15px;
}

.tbt-pannel_tittle-inner {
  border-left: 3px solid @color-primary;
  height: 20px;
  line-height: 20px;
  padding-left: 15px;
  font-weight: bold;
  font-size: @font-size-title-bg;
}

.tbt-pannel_title-append {
  display: inline-block;
  margin-left: 15px;
  color: @color-text-secondary;
  font-weight: normal;
  font-size: @font-size-main;
}

.tbt-trend-title {
  height: 40px;
  line-height: 40px;
  padding-left: 18px;
  font-weight: bold;
  font-size: @font-size-title;
}

.tbt-funnel-table {
  width: 100%;
  border-collapse: collapse;
  th {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0,0,0,0.30);
  }
  td {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
  }
  th,td {
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    .tbt-icon {
      display: none;
    }
    &.increase .tbt-icon-in {
      display: inline-block;
    }
    &.decrease .tbt-icon-de {
      display: inline-block;
    }
    &:first-child {
      text-align: left;
      padding-left: 20px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      //border-bottom: 1px solid #e0e0e0;
    }
  }
}

.increase {
  color: @color-in !important;
}

.decrease {
  color: @color-de !important;
}

.flex-box {
  display: flex;
}

.flex-item {
  flex: 1;
}

.dp-header .dp-item.dp-right {
  color: @color-primary !important;
}

.vux-popup-header-right {
  color: @color-primary !important;
}
