@color-primary: #06C792;
@color-text: #545454;
@color-text-secondary: #c1c1c1;
@color-border: #E3E3E3;

@font-size-title-bg: 18px;
@font-size-title: 15px;
@font-size-main: 14px;
@font-size-secondary: 12px;
